<!DOCTYPE html>
<html lang="ptbr">
    <head>
        <meta charset="UTF-8">
        <title>Contato - Barbearia</title>       
    </head>
    <body>

        <h1>AGENDAMENTO</h1>
        <div class="container-fluid">
            <form>
                <div class="form-group" >
                    <div class="input-box">
                        <label for="exampleInputEmail1">NOME:</label>
                        <input type="email" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Nome">
                    </div>
                    <div class="input-box">
                        <label for="exampleInputEmail1">TELEFONE:</label>
                        <input type="telefone" class="form-control" id="teelfone" aria-describedby="telefoneHelp" placeholder="telefone">
                    </div>
                    <div class="input-box">
                        <label for="exampleInputEmail1">E-MAIL:</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="input-box">
                        <label for="exampleInputEmail1">DATA E HORA:</label>
                        <input type="data" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Data">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Horario</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr>
                            <td>segundo</td>
                            <td>8h - 20h</td>
                        </tr>
                        <tr>
                            <td>Quarta</td>
                            <td>8h - 20h</td>
                        </tr>
                        <tr>
                            <td>Sexta</td>
                            <td>8h - 20h</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </body>
</html>