body{
    padding: 15px;
    border-radius: 5px;
  
}

form{
    display: flex;
    flex-direction: column;
}

.input-box{
    margin: 5px;
}

.table{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;    
}

table{
    width: 200px;
}

