body{
    padding: 15px;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

.input-box{
    margin: 5px;
}

.table{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;    
}

table{
    width: 200px;
}

@media (max-width: 768px){
   
    button{
        width: 100%;
    }
}

@media (min-width: 768px){
    input{
        width: 500px;
    }
    button{
        width:500px
    }
    .form-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

