body{
    display: flex;
    justify-content: center;
    background-color: transparent;

}

.body{
    width: 80vw;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
}

div .container-fluid{
    padding: 0%;
    margin: 0%;
}

form{
    display: flex;
    flex-direction: column;
}

.input-box{
    margin: 5px;
}

.table{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;    
}

table{
    width: 200px;
}

@media (max-width: 768px){
    .body{
        width: 100%;
    }

    button{
        width: 100%;
    }
}

@media (min-width: 768px){
    input{
        width: 500px;
    }
    button{
        width:500px
    }
    .form-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

