.navbar{
    font-family: 'Roboto', sans-serif;
}

.form-group{
    padding: 5px;
}

.conainer-fluid{
    padding: 15px;
    border-radius: 5px;
    width: 75vw;
    font-family: 'Roboto', sans-serif;
}

.div-logo{
    display: flex;
}

.logo{
    width: 60px;
    height: 50px;
    margin: 5px 10px;
}

footer{
    margin-top: 20px;
    background-color: #9c0000;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.final-Info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(124, 124, 124);
}

.mapa{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

p{
    margin: 0;
    font-weight: 100;
}

@media (max-width: 768px){
    .iframe{
        width: 100%;
    }
}

