<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- suporte a mobile -->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Visualizar itens</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="div-logo">
        <img src="../assets/logo.png" class="logo">
        <a class="navbar-brand" href="#">    
          BARBEARAIA MASTER
        </a>
      </div> 
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']">HOME</a></li>
        <li><a [routerLink]="['/products']">PRODUTOS</a></li>
        <li><a [routerLink]="['/contact']">CONTATO</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            LOGIN <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
                <small id="emailHelp" class="form-text text-muted">Digite seu E-mail</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">SENHA</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
<div class="container-fluid" >
  <router-outlet class="router-outlet"></router-outlet>
</div>



<footer>
  <div class="card text-center">
    <div class="card-footer text-muted">
      Create by: Carlos Dantas
    </div>
  </div>
</footer>
