body{
    display: flex;
    justify-content: center;
    background-color: transparent;

}
.body{
    width: 80vw;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
}

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

li{
    width: 350px;
    height: 300px;
    border: 5px double rgb(133, 133, 133);
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 4px 10px  black;
}

img{
    margin-top: 15px;
}

li:hover{
    transform: scale(1.05);
    transition: 0.5s;
    border-color: rgb(71, 141, 0);
}

.img-product{
    width: 90px;
    height: 90px;
}

@media (max-width: 768px){
    .body{
        width: 100%;
        padding: 15px;
    }

}